{
    "apiKeys": {
        "telegram": "..."
    },
    "config": {
        "awoo": {
            "word": "Bork. ",
            "repeat": false
        },
        "botUsername": "@CarPups_bot"
    }
}
