{
    "apiKeys": {
        "telegram": "..."
    },
    "config": {
        "awoo": {
            "word": "Bork. ",
            "repeat": false
        },
        "botUsername": "@CarPups_bot"
    },
    "endpoints": {
        "plate.wtf": "https://plate.wtf"
    }
}
