{
    "apiKeys": {
        "openWeatherMap": "...",
        "telegram": "...",
        "wolframAlpha": "..."
    },
    "config": {
        "awoo": {
            "word": "Bork. ",
            "repeat": false
        },
        "botUsername": "@CarPups_bot",
        "owner": {
            "name": "Derp McDerpson",
            "username": "@derp"
        }
    },
    "endpoints": {
        "plate.wtf": "https://plate.wtf"
    }
}
